<h2 class="d-flex justify-content-center my-5">REGISTRATE</h2>
<i class="fab fa-twitter devise d-flex justify-content-center"></i>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="text field d-flex justify-content-center my-5">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
   </div>

    <div class=" text field d-flex justify-content-center my-5">
    <%= f.label :image%><br />
    <%= f.text_field :image,  autocomplete: "name" %>
   </div>

  <div class="text field d-flex justify-content-center my-5">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="text field d-flex justify-content-center my-5 ">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class=" text field d-flex justify-content-center my-5">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class=" text actions field d-flex justify-content-center my-5">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<div class="text d-flex justify-content-center my-3">
  <%= link_to 'Inicio', root_path %>
</div>
