<p id="notice">Bienvenido</p>
<%= link_to "cerrar sesion", destroy_user_session_path, method: :delete%>

<div class="">
    <%= link_to :Twitter, root_path, class:'display-2 h1 text-primary d-flex justify-content-center '%>
    <br>
     <%= form_with(url:'/tweets/new', local: true, class:'form-group d-flex justify-content-center') do |form| %>

  <div class="w-50">
    <%= form.text_area :content, cols:30, rows:1, placeholder:'¿que estas pensando', class:'form-control' %>
  </div>

 
  <div class="">
    <%= form.submit :tweet, class:'btn btn-primary' %>
  </div>
<% end %>

  </div>
 

    <% @tweets.order(created_at: :desc).each do |tweet| %>
    <div class="card my-5 bg-info mx-0">
  <div class="dropdown ml-auto">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
    <% if current_user == tweet.user %>
  <%= link_to 'Show', tweet, class:'dropdown-item' %>
  <%= link_to 'Edit', edit_tweet_path(tweet), class:'dropdown-item' %>
  <%= link_to 'Destroy', tweet, class:'dropdown-item', method: :delete, data: { confirm: 'Are you sure?' } %>
   <% else %>
        <%= link_to 'Show', tweet, class:'dropdown-item'%>
    <% end %>
      
  </div>
</div>

  <div class="card-header">
    <img src="<%= tweet.user.image%>" width="50px" heigth="50px" alt="">
     <%= link_to tweet.user.name, class:"" %>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><%= tweet.content %></p>
  </div>
</div>

<% end %>
<%= will_paginate @tweets %>